body {
    background: linear-gradient(to right, #6abbed, #ac84eb);
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #007bff;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #2876a7 !important;
}

h1, h2, p {
    color: #333333;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.project-card img {
    max-width: 50%;
    height: auto;
    margin-bottom: 15px;
}

.project-card h5 {
    font-size: 1.25rem;
}

.project-card p {
    font-size: 0.9rem;
    color: #555;
}

.text-center {
    text-align: center;
}

section {
    padding: 10px 0; /* Reduced top and bottom padding */
}

h1, h2 {
    margin-top: 10px; /* Add a smaller top margin for titles */
}
